.match-history__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(26, 26, 26);
    margin-bottom: 10px;
    border-radius: 4px;
}

.match-history__container:hover {
    background-color: rgb(39, 39, 39);
}

.match-history__header {
    display: flex;
    justify-content: space-between;
    font-size: 2vh;
    padding: 4px;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
}

.match-history__content {
    display: flex;
    justify-content: space-between;
    padding: 1.5vh;
}

.match-history__result {
    width: 5vw;
    line-height: 100%;
    margin: auto 0;
}

.side__container {
    width: 32vw;
    border-radius: .5vh;
    padding: 0 4px;
}

.players__container {
    display: flex;
    flex-direction: column;
}
.players__container img {
    margin-top: .5vh;
    max-height: 2vh;
    margin-right: .2vw;
}


.player__entry {
    display: flex;
    align-items: center;
}

.won {
    background-color: rgba(0, 255, 0, .25);
}

.lost {
    background-color: rgba(255, 0, 0, .25);
}

.legion__container {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 1vw;
    font-size: 2vh;
}

.legion__container img {
    max-height: 2vh;
    margin-left: .5vw;
}

.spell__container {
    display: flex;
    align-items: center;
    margin-right: 1vw;
    font-size: 2vh;
}

.spell__container img {
    max-height: 2vh;
    margin-left: .5vw;
}
