.game-board__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-board__header {
    align-items: center;
    justify-content: space-between;
    display: flex;
    width: 100%;
    margin-bottom: 1vh;
    margin-top: 1vh;
}

.header__icon {
    min-height: max(3vh, 3vw);
    max-height: max(3vh, 3vw);
    aspect-ratio: 1/1;
}

.player-info__container {
    display: flex;
    align-items: center;
}

.country__icon {
    height: 2vh;
    max-height: 2vh;
    margin-right: 4px;
}

.player1 {
    color: var(--player1);
}

.player2 {
    color: var(--player2);

}

.player3 {
    color: var(--player3);
}

.player4 {
    color: var(--player4);
}

.player5 {
    color: var(--player5);
}

.player6 {
    color: var(--player6);
}

.player7 {
    color: var(--player7);
}

.player8 {
    color: var(--player8);
}

.header__icon {
    height: 4vh;
    max-height: 4vh;
    aspect-ratio: inherit;
}

.game-board {
    width: 23vw;
    height: calc(23vw*1.555555);
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: repeat(28, calc((23vw * 1.555555) / 28));
    grid-template-columns: repeat(18, calc(23vw / 18));
    background-size: calc(23vw/9) calc(23vw*1.555555/14);
    border-right: 1px solid darkgrey;
    border-bottom: 1px solid darkgrey;
    background-image:
            linear-gradient(to right, darkgrey 1px, transparent 1px),
            linear-gradient(to bottom, darkgrey 1px, transparent 1px);
}

.unit__icon {
    width:  calc(23vw/9 - 2px);
    height: calc(23vw*1.555555/14 - 2px);
    margin: 1px 1px;
}

.player__color-marker {
    width: 100%;
    height: 1.25vh;
}

.player1__background {
    background-color: var(--player1);
}

.player2__background {
    background-color: var(--player2);
}

.player3__background {
    background-color: var(--player3);
}

.player4__background {
    background-color: var(--player4);
}

.player5__background {
    background-color: var(--player5);
}

.player6__background {
    background-color: var(--player6);
}

.player7__background {
    background-color: var(--player7);
}

.player8__background {
    background-color: var(--player8);
}

.copy-button {
    cursor: pointer;
    font-size: 1vw;
    font-weight: 500;
    width: 8vw;
    height: min(1.5vw, 3vh);
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0.5em 0.3em 0.3em 0;
    border-radius: 0.12em;
    color: #ffffff;
    text-align: center;
    transition: all 0.2s;
}

.copied {
    background-color: darkgreen;
}

.copy-button:hover {
    color: #000000;
    background-color: #FFFFFF;
}

.sends__container {
    margin: 12px 0;
    width: 23vw;
    height: 10vh;
    display: flex;
    flex-wrap: wrap-reverse;
    overflow: hidden;
}

.sends__container img {
    width:  calc(23vw/9 - 2px);
    height: calc(23vw*1.555555/14 - 2px);
    margin: 1px 1px;
    aspect-ratio: 1/1;
}
