

.gridCanvas{
    width:500px;
    height:500px;
}

.game-board__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid black;
    
}

.game-board-body {
    height: 79vh;
}

.game-board__header {
    align-items: center;
    justify-content: space-between;
    display: flex;
    width: 100%;

}

.header__icon {
    height: calc(23vw*1.555555/14 - 2px);
    aspect-ratio: 1/1;
}

.player-info__container {
    display: flex;
    align-items: center;
    font-weight: 500;
}

.country__icon {
    height: 2vh;
    max-height: 2vh;
    margin-right: 4px;
}

.player1 {
    color: var(--player1);
}

.player2 {
    color: var(--player2);

}

.player3 {
    color: var(--player3);
}

.player4 {
    color: var(--player4);
}

.player5 {
    color: var(--player5);
}

.player6 {
    color: var(--player6);
}

.player7 {
    color: var(--player7);
}

.player8 {
    color: var(--player8);
}

.header__icon {
    height: 4vh;
    max-height: 4vh;
    aspect-ratio: inherit;
}

:root{
    --grid-color: #383838
}
.game-board {

    width: 23vw;
    height: calc(23vw*1.555555);
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: repeat(28, calc((23vw * 1.555555) / 28));
    grid-template-columns: repeat(18, calc(23vw / 18));
    background-size: calc(23vw/18) calc(23vw*1.555555/28);
    border-right: 1px solid var(--grid-color);
    border-bottom: 1px solid var(--grid-color);
    background-image:
    linear-gradient(to right, var(--grid-color) 1px, transparent 1px),
    linear-gradient(to bottom, var(--grid-color) 1px, transparent 1px);
    margin-top: 0.5vh;
    background-color: rgba(0, 0, 0, 0.6);
}

.clipboard {
    width: 23vw;
    height: calc(23vw*1.555555);
    margin: 0;
    padding: 0;
    display: block;
    margin-top: 0.5vh;
    background-color: rgba(0, 0, 0, 0.6);
}

.clipboard textarea {
    width: 100%;
    height: 100%;
    background-color: transparent;
    color:white;
    line-break:auto;
    border: none;
    padding: none;
    resize: none;
    font-size: 1.5vh;
}

.parent {
    width:  calc(23vw/9 - 2px);
    height: calc(23vw*1.555555/14 - 2px);
    position:relative;    
}
.unit__icon {
    width:  calc(23vw/9);
    height: calc(23vw*1.555555/14);
  
}
.unit__overlay__topleft {
    pointer-events: none;
    width:  calc((23vw/9)/3);
    height: calc((23vw*1.555555/14)/3);
    top:0;
    left:0;
    position:absolute;    
}
.unit__overlay__topright {
    pointer-events: none;
    width:  calc((23vw/9)/3);
    height: calc((23vw*1.555555/14)/3);
    top:0;
    left:calc((23vw/9)/3*2);
    position:absolute;    
}
.unit__overlay__midright {
    pointer-events: none;
    width:  calc((23vw/9)/3);
    height: calc((23vw*1.555555/14)/3);
    top:calc((23vw*1.555555/14)/3);
    left:calc((23vw/9)/3*2);
    position:absolute;    
}
.unit__overlay__botright {
    pointer-events: none;
    width:  calc((23vw/9)/3);
    height: calc((23vw*1.555555/14)/3);
    top:calc((23vw*1.555555/14)/3*2);
    left:calc((23vw/9)/3*2);
    position:absolute;    
}
.unit__overlay__topmid {
    pointer-events: none;
    width:  calc((23vw/9)/3);
    height: calc((23vw*1.555555/14)/3);
    top:0;
    left:calc((23vw*1.555555/14)/3);
    position:absolute;    
}
.unit__overlay__botleft {
    pointer-events: none;
    width:  calc((23vw/9)/3);
    height: calc((23vw*1.555555/14)/3);
    top:calc((23vw*1.555555/14)/3*2);
    left:0;
    position:absolute;
    filter:brightness(100%);
}
.unit__overlay__botmidleft {
    pointer-events: none;
    width:  calc((23vw/9)/3*2+1);
    height: calc((23vw*1.555555/14)/3);
    top:calc((23vw*1.555555/14)/3*2);
    left:0;
    text-anchor: start;
    position:absolute;    
}
.unit__overlay__text{
    pointer-events: none;
    font-size: 1vw;
    z-index:11;
    background-color: rgba(0,0,0,0.75);
    font-family: 'Courier New';
}
.leftLine{
    height: calc((23vw/9)/3*2+1);
    width:2px;
    fill:#ffff00;
    stroke-width:2px;
    z-index: 10;
}


  .line_left {
    pointer-events: none;
    position:relative;
    left:0; top:0;
    width: 2px;
    height: calc((23vw/9)/3*2+1);
    background: rgb(229, 255, 0);
    z-index:10;
  }
  .line_right {
    pointer-events: none;
    position:relative;
    left: calc((23vw/9/2)); top:0;
    width: 2px;
    height: calc((23vw/9)/2);
    background: rgb(229, 255, 0);
    z-index:10;
  }
  .line_top {
    pointer-events: none;
    position:relative;
    left:0; top:0;
    width: calc(calc(((23vw/9)/2)) + 2px);
    height:2px;
    background: rgb(229, 255, 0);
    z-index:10;
  }
  .line_bot {
    pointer-events: none;
    position:relative;
    left:0; top:calc((23vw/9/2) - 2px);
    width: calc(calc(((23vw/9)/2)) + 2px);
    height: 2px;
    background: rgb(229, 255, 0);
    z-index:10;
  }

.unit__overlay_cost {
    width:  calc((23vw/9)/3*2);
    height: calc((23vw*1.555555/14)/3);
    top:calc((23vw*1.555555/14)/3*2);
    left:calc((23vw/9)/3);
    position:absolute;
    
}

.player__color-marker {
    width: 100%;
    height: 1.25vh;
}

.player1__background {
    background-color: var(--player1);
}

.player2__background {
    background-color: var(--player2);
}

.player3__background {
    background-color: var(--player3);
}

.player4__background {
    background-color: var(--player4);
}

.player5__background {
    background-color: var(--player5);
}

.player6__background {
    background-color: var(--player6);
}

.player7__background {
    background-color: var(--player7);
}

.player8__background {
    background-color: var(--player8);
}

.copy-button {
    cursor: pointer;
    font-size: 1vw;
    font-weight: 500;
    width: 9vw;
    height: min(1.5vw, 3vh);
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0.5em 0 0.3em 0.3em;
    border-radius: 0.12em;
    color: #ffffff;
    text-align: center;
    transition: all 0.2s;
}

.copied {
    background-color: darkgreen;
}

.copy-button:hover {
    color: #000000;
    background-color: #FFFFFF;
}




.sends__container {
    margin:  0;
    width: 18.5vw;
    height: 7vh;
    display: flex;
    flex-wrap: wrap-reverse;
    overflow: hidden;
    margin: 0px;
}
.unit-info-window{

    border-color: aquamarine;

    display: flex;
    flex-direction: column;

    border-color: aquamarine;
    border-style: solid;
    border-width: 2px;

    background-color: rgba(0,0,0,1);
    
    z-index: 100;
    /*background-color: #ffff00;*/

} 
.transparentBackground{
    background-color: rgba(255,0,0,0.1);
    width: 1vw;
    height: (16/9)vh;
}


.stats__container {
    margin: 12px 0;
    width: 4.5vw;
    height: 8vh;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.sends__container span {
    width: calc(3.4vh);
    height: calc(3.4vh);
    margin: 0.1vh 0.1vh;
    aspect-ratio: 1/1;
}

.sends__container span img {
    width: 100%;
    height: 100%;
}

.sends__count {
    position: relative;
    font-size: 1vw;
    bottom: 4.1vh;
    right: -2vh;
    color: white;
    text-shadow: 1px 1px 1px black;
    font-weight: 400;
}

.stats__icon {
    aspect-ratio: 1/1;
    height: 1.5vw;
}

.stats__entry {
    width: 100%;
    height: 2.66666vh;
    font-size: 1.8vh;
    position: relative;
}

.stats__entry img {
    height: 2vh;
    margin-top: 0.5vh;
}

.myth__region__container {
    width: 23vw;
    height: 8vh;
    display: flex;
    flex-wrap: wrap-reverse;
    overflow: hidden;
    margin: 0px;
}

.stats__text {
    aspect-ratio: 1/1;
    font-size: 1.8vh !important;
    font-weight: 500;
    width: 3.1vw !important;
    margin: 0;
    display: inline-block;
    text-align: right;
    margin-right: 0.15vw;
}

.game-board__footer {
    width: 23vw;
    display: inline-flex;
    height: 6vh;
}

.leak__container {
    width: 11.5vw;
    text-align: center;
    position: relative;
}

.leak__container div{
    margin-top: 1vh;
    font-weight: 500;
}

.img__leaked__unit {
    aspect-ratio: 1/1;
    width: 3vw;
    height: 3vw;
}

.leaked__creeps__container {
    position: absolute;
    top: -10.7vh;
    width: 21vw;
    left: 1vw;
    height: 6vw;
    text-align: left;
    display: flex;
    flex-wrap: wrap-reverse;
}

.value__calc {
    position: absolute;
    font-size: 1.8vh !important;
    font-weight: 500;
    top: 0.6vh;
    right: 4.5vw;
    backdrop-filter: blur(8px);
    z-index: 10;
    text-align: right;
    max-width: 8vw;
}