.game-board__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-board__container span{
    height: 85vh;
}

.game-board__header {
    align-items: center;
    justify-content: space-between;
    display: flex;
    width: 100%;
    margin-bottom: 1vh;
}

.header__icon {
    height: calc(23vw*1.555555/14 - 2px);
    aspect-ratio: 1/1;
}

.player-info__container {
    display: flex;
    align-items: center;
}

.country__icon {
    height: 2vh;
    max-height: 2vh;
    margin-right: 4px;
}

.player1 {
    color: var(--player1);
}

.player2 {
    color: var(--player2);

}

.player3 {
    color: var(--player3);
}

.player4 {
    color: var(--player4);
}

.player5 {
    color: var(--player5);
}

.player6 {
    color: var(--player6);
}

.player7 {
    color: var(--player7);
}

.player8 {
    color: var(--player8);
}

.header__icon {
    height: 4vh;
    max-height: 4vh;
    aspect-ratio: inherit;
}

.game-board {
    width: 23vw;
    height: calc(23vw*1.555555);
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: repeat(28, calc((23vw * 1.555555) / 28));
    grid-template-columns: repeat(18, calc(23vw / 18));
    background-size: calc(23vw/9) calc(23vw*1.555555/14);
    border-right: 1px solid darkgrey;
    border-bottom: 1px solid darkgrey;
    background-image:
            linear-gradient(to right, darkgrey 1px, transparent 1px),
            linear-gradient(to bottom, darkgrey 1px, transparent 1px);
    margin-top: 0.5vh;
}

.unit__icon {
    width:  calc(23vw/9 - 2px);
    height: calc(23vw*1.555555/14 - 2px);
    margin: 1px 1px;
}

.player__color-marker {
    width: 100%;
    height: 1.25vh;
}

.player1__background {
    background-color: var(--player1);
}

.player2__background {
    background-color: var(--player2);
}

.player3__background {
    background-color: var(--player3);
}

.player4__background {
    background-color: var(--player4);
}

.player5__background {
    background-color: var(--player5);
}

.player6__background {
    background-color: var(--player6);
}

.player7__background {
    background-color: var(--player7);
}

.player8__background {
    background-color: var(--player8);
}

.copy-button {
    cursor: pointer;
    font-size: 1vw;
    font-weight: 500;
    width: 9vw;
    height: min(1.5vw, 3vh);
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0.5em 0 0.3em 0.3em;
    border-radius: 0.12em;
    color: #ffffff;
    text-align: center;
    transition: all 0.2s;
}

.copied {
    background-color: darkgreen;
}

.copy-button:hover {
    color: #000000;
    background-color: #FFFFFF;
}

.sends__container {
    margin: 12px 0;
    width: 18.5vw;
    height: calc(23vw*1.555555/14/1.5*2);
    display: flex;
    flex-wrap: wrap-reverse;
    overflow: hidden;
    margin: 0px;
}

.mythium__container {
    margin: 12px 0;
    width: 4.5vw;
    height: calc(23vw*1.555555/14/1.5*2);
    display: flex;
    flex-wrap: wrap-reverse;
    overflow: hidden;
    margin: 0px;
}

.sends__container span {
    width:  calc(23vw/9/1.5 - 2px );
    height: calc(23vw*1.555555/14/1.5 - 2px);
    margin: 1px 1px;
    aspect-ratio: 1/1;
}

.sends__container span img {
    width: 100%;
    height: 100%;
}

.sends__count {
    position: relative;
    font-size: 1vw;
    top: -4vh;
    right: -1.5vh;
    color: white;
    text-shadow: 1px 1px 2px black;
    font-weight: 400;
}

.myth__icon {
    aspect-ratio: 1/1;
    height: 1.5vw;
    margin-top: auto;
    margin-bottom: auto;
}

.myth__region__container {
    width: 23vw;
    height: calc(23vw*1.555555/14/1.5*2);
    display: flex;
    flex-wrap: wrap-reverse;
    overflow: hidden;
    margin: 0px;
}

.mythium__text {
    max-width: 3vw;
    max-height: 3vw;
    aspect-ratio: 1/1;
    margin: auto;
    font-size: calc(3px + 1.9vmin);
    font-weight: 500;
}

.game-board__footer {
    width: 23vw;
    display: inline-flex;
    height: 6vh;
}

.leak__container {
    width: 11.5vw;
    text-align: center;
}

.leak__container div{
    margin-top: 1vh;
}