
.App {
  background-color: #282c34;
  min-height: 100%;
  font-size: calc(10px + 2vmin);
  color: white;
}

.unitIcon {
  width:  calc(23vw/9);
  height: calc(23vw*1.555555/14);
  margin: 0 !important;
  position: absolute;
  display: inline-block;
}

body {
  margin: 0;
  padding: 0;
  background-color: #282c34;
}

.waveHeader {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}

.GameBoard {
  width: 23vw;
  height: calc(23vw*1.555555);
  border-right: 1px solid darkgrey;
  border-bottom: 1px solid darkgrey;
  margin: 0;
  padding: 0;
  display:block;
  position: relative;
  background-size: calc(23vw/9) calc(23vw*1.555555/14);
  background-image: 
    linear-gradient(to right, darkgrey 1px, transparent 1px),
    linear-gradient(to bottom, darkgrey 1px, transparent 1px);
}

.GameBoardContainer {
  display:inline-block;
  margin-left: 1.5vw;
}

.GameBoardHeader {
  text-align: center;
  display: block;
}